@import "~bootstrap/scss/bootstrap";

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #3ca2a8;
}

.main-content {
  min-height: 90vh;
  margin: 0;
}

#reset-password-text {
  margin-top: 7%;
  float: none;
  width: 99%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

#wrapper {
  min-height: 200px;
  min-width: 300px;
  background-color: #dfdfdf;
  border-radius: 25px;
  border: 1px #bbbbbb;
  margin-top: 5%;
}

.form-content {
  margin-left: 12%;
  margin-top: 20%;
}

#reset_password_mail {
  border-radius: 5px;
  height: 30px;
  width: 235px;
}

#reset_password_submit {
  background-color: #222222;
  color: #dfdfdf;
  margin-left: 61%;
  border-radius: 5px;
}