@import "~bootstrap/scss/bootstrap";

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #3ca2a8;
}

.main-content {
  min-height: 90vh;
  margin: 0;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

#wrapper {
  min-height: 190px;
  min-width: 250px;
  background-color: #dfdfdf;
  border-radius: 25px;
  border: 1px #bbbbbb;
  margin-top: 5%;
}

.form-content {
  margin-left: 12%;
  margin-top: 11%;
}

#update_mail_user_mail,
#update_mail_user_password {
  border-radius: 5px;
  height: 30px;
}

#update_mail_user_submit {
  background-color: #222222;
  color: #dfdfdf;
  margin-left: 50%;
  border-radius: 5px;
}