<form method="post" action="{{ path('ad_close', {'id': ad.id}) }}" onsubmit="return confirm('Voulez-vous fermer l\'annonce ?');">
    <button class="btn btn-outline-danger"><i class="fa fa-times" aria-hidden="true"></i> Fermer l'annonce</button>
</form>
