{% if sameUser %}
    <div id="responsesList" >
        <h2>Candidatures reçues</h2>

        <table class="table table-striped" >
            <thead>
            <tr>
                <th scope="col">Auteur</th>
                <th scope="col">Message</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            {% for response in responses %}
                <tr>
                    <td>{{ response.user.name }}</td>
                    <td>{{ response.content }}</td>
                    <td>{{ response.date|date("d/m/y") }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune candidature pour le moment. Lorsqu'il y en aura, elles s'afficheront ici.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}