{% extends 'base.html.twig' %}

{% block title %}My responses{% endblock %}

{% block body %}
<div class="container-fluid" style="margin-top: 2%">
    <h2>Mes candidatures</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Annonce</th>
            <th scope="col">Message</th>
            <th scope="col">Date</th>
            <th scope="col">Statut de l'annonce</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for response in responses %}
            <tr>
                <td>{{ response.ad.title }}</td>
                <td>{{ response.content }}</td>
                <td>{{ response.date|date("d/m/y") }}</td>
                <td>{% if 'ACTIVE' == response.ad.status %}<span class="badge badge-success">Ouverte</span>{% else %}<span class="badge badge-danger">Fermée</span>{% endif %}</td>
                <td>{{ include('response/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune candidature pour le moment. Lorsqu'il y en aura, elles s'afficheront ici.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
